{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>loader</title>
	<link rel="stylesheet" href="{% static 'fakeLoader.css' %}">
	<script src="{% static 'jquery.min.js'%}"></script>
	<script src="{% static 'fakeLoader.min.js' %}"></script>
</head>

<body>
	<div id="fakeLoader"></div>
	<script >
   $("#fakeLoader").fakeLoader({
   		timeToHide:1500, //Time in milliseconds for fakeLoader disappear

		zIndex:"999",//Default zIndex

		spinner:"spinner5",//Options: 'spinner1', 'spinner2', 'spinner3', 'spinner4', 'spinner5', 'spinner6', 'spinner7'

		bgColor:"#2ecc71", //Hex, RGB or RGBA colors

		imagePath:"static/image2.gif" //If you want can you insert your custom image
   });
</script>

</body>


</html>